:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2046 0 0);

  --btn-primary-neutral: oklch(0.623 0.214 259.815);
  --btn-primary-active: oklch(70.7% 0.165 254.624);
  --btn-secondary-neutral: oklch(98.5% 0.002 247.839);
  --btn-secondary-active: oklch(62.3% 0.214 259.815);

  --bg-color: oklch(93.2% 0.032 255.585);

  --text-color-primary: oklch(1 0 0);
  --border-default: oklch(92.8% 0.006 264.531);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  height: 100dvh;
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.commonButton {
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  gap: 0.5rem;
  padding: 0.5rem;
}

.commonButton:hover {
  cursor: pointer;
}

.logoContainer {
  display: flex;
  align-items: flex-end;
  border-radius: 5px;
  height: 125px;
}

.companyLogo {
  font-size: 2rem;
}

.logoArea {
  display: inline-flex;
  align-items: center;
  margin-inline-start: 10px;
  margin-block-end: 5px;
}

.bg-blue-500 {
  background-color: var(--btn-primary-neutral);
}

.size-4 {
  width: 30px;
  height: 30px;
}

.size-5 {
  width: 20px;
  height: 20px;
}

.bg-neutral-100 {
  background-color: var(--btn-secondary-neutral);
}

.bg-white {
  color: white;
}

.dashboardContainer {
  display: flex;
}

.dashboardMainContainer {
  flex: 1;
  padding-block-start: 2rem;
  border: 1px solid red;
  height: 100%;
  padding-inline-start: 2.5rem;
}